// @useを使うには名前空間付きで変数を使う。
// 書き方・・・ファイル名.値
// 例: background-color: variable.$bgColor;
// @useに 'as *' をつけることで名前空間を省略できる。

@use './variable' as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

// 全体のルート設定
html {
  font-size: 62.5%; // 10px = 1rem にする
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden; // 横スクロール防止 ← 追加
}

// 全要素の共通設定
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// bodyの基本レイアウト
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: $bgColor;
  color: $fontColorBlack;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; // 横スクロール防止 ← 追加

  // グローバルな nav のリンクスタイル
  nav {
    color: $fontColorGray;

    ul, ol {
      list-style: none;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
