.skills {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 2rem;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .skill-category {
    margin-bottom: 5rem;

    h3 {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }

    .skill-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 2rem;
    }

    .skill-card {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
      text-align: center;
      transition: 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      }

      img {
        width: 40px;
        height: 40px;
        margin-bottom: 0.5rem;
        margin:  0 auto;
      }

      h4 {
        font-size: 1.2rem;
        margin: 0.5rem 0;
      }

      .skill-description {
        font-size: 0.9rem;
        color: #333;
        margin-top: 0.5rem;
      }
    }
  }
}

.scroll-offset {
  scroll-margin-top: 80px; /* headerの高さに合わせる */
}