$bgColor: #F5F5F5;
$profileBgColor: #ffffff;
$headerBgColor: #DDDDDD;

$fontColorGray: #707070;
$fontColorBlack: #000000;
$starColorGray: #707070;
$starColorOrange: #f3bb2d;

$maxWidth: 1280px;
$minWidth: 360px;

$maxInner: 40px;
$minInner: 20px;
