$fontFamily: 'Noto Sans JP', system-ui, sans-serif;

$colorBlack01: #000000;

$colorWhite01: #ffffff;

$colorGray01: #DDDDDD;
$colorGray02: #F5F5F5;

$maxWidth: 1280px;
$paddingInner: 4rem;
$marginInner: 32rem;
