@use './variable' as *;

.about {
  margin-block: 80px;
  scroll-margin-top: 80px;
  .inner {
    max-width: $maxWidth;
    width: 100%;
    padding-inline: $maxInner;
    margin:  0 auto;

    h2 {
      text-align: center;
      font-size: 6rem;
      font-weight: 400;
      margin-bottom: 90px;
    }

    .introduction {
      display: flex;
      justify-content: left;
      .AboutImage  {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-inline: 70px;
      }
      p {
        font-size: 2.4rem;
      }

      p:nth-child(2) {
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin-top: 40px;
    .inner {
      padding-inline: $minInner;
      h2 {
        font-size: 4rem;
        margin-bottom: 4rem;
      }

      .introduction {
        flex-flow: column;
        align-items: center;

        .AboutImage {
          width: 200px;
          height: 200px;
        }

        p {
          font-size: 1.5rem;
          margin-top: 4rem;
        }
      }
    }
  }
}

@media screen and (max-width:452px) {
  .about {
    .inner {
      .introduction {
        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}