@use './variable' as *;
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
}

footer {
  margin-top: 4rem;
  p {
    height: 80px;
    width: 100%;
    background-color: $headerBgColor;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
