@use './variable' as *;

nav {
  ul {
    display: flex;
    font-size: 3rem;
    gap: 30px;

    li {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $fontColorGray;
        transform: scaleX(0); /* 横幅を0にして隠す */
        transform-origin: left; /* 左側を起点に拡大 */
        transition: transform 0.3s ease; /* アニメーションの設定 */
      }
      &:hover::after {
      transform: scaleX(1); /* 横幅を100%に戻す */
      }
    }
  }
}