@use './variable' as *;

.skill {
  margin-top: 80px;
  .inner {
    margin: 0 auto;
    .skillTitle {
      padding-block: 80px;
      font-size: 6rem;
      font-weight: 400;
      text-align: center;
    }
    .skillCards {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      margin-bottom: 70px;
    }
  }
}