@use './variable' as *;

.sns {
  margin-block: 90px;
  scroll-margin-top: 80px;

  .inner {
    max-width: $maxWidth;
    width: 100%;
    padding-inline: $maxInner;
    margin:  0 auto;

    h2 {
      text-align: center;
      font-size: 6rem;
      font-weight: 400;
      margin-bottom: 50px;
    }
  }
}